# Miscellaneous
bin
LICENCE
README.md
.gitignore
.air.toml
.golangci.yml
.env.example
.parcel-cache
.gitpod.yml
.gitpod.Dockerfile

# JetBrains
.idea

# VSCode
.vscode

# GitHub
.github

# MacOS
.DS_Store

