package component

templ Header() {
	 <header class="flex justify-between px-4 py-2">
        <h2>NeoShare</h2>
        <a href="/api/login" class="btn" >
            Login
        </a>

     </header>
}
