package component

templ ShortLinkView(shortLink string) {
	<div>
		<h1 class="text-3xl">Short Link</h1>
		<div class="mt-12">
			<span class="text-lg">Short Link:</span>
			<span class="text-lg">{ shortLink }</span>
		</div>
	</div>
}
